.button{
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 19px 53px;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px){
  .button{
    margin: auto;
    display: block;
  }
}