.button{
  background-color: var(--yellow);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 19px 53px;
  border: none;
  color: var(--default);
  cursor: pointer;
}

@media (max-width: 480px){
  .button{
    display: block;
  }
}