.container{
  
  display: flex;
  justify-content: center;
}

.wrapper{
  min-height: calc(100vh - 130px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  padding-bottom: 40px;
}

.subtitle{
  font-size: 34px;
  padding-bottom: 40px;
  max-width: 460px;
}

.text{
  font-size: 18px;
  padding-bottom: 64px;
  max-width: 330px;
}

@media (max-width: 992px){
  .subtitle{
    font-size: 26px;
    padding-bottom: 20px;
  }
  .text{
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .subtitle{
    font-size: 18px;
    padding-bottom: 10px;
  }
  .text{
    font-size: 18px;
  }
}

@media (max-width: 480px){
  
}
