:root {
  --white: #ffffff;
  --default: #222222;
  --yellow: #FEE929;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body{
  min-height: 100vh;
}

body {
  line-height: 1.1;
  color: var(--white);
  font-weight: 400;
  background: url('/img/bg.jpg') center/cover no-repeat;
}

body.lock {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

section{
  padding: 50px 0;
}

.container{
  max-width: 1320px;
  min-height: calc(100vh - 79px);
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
