:root {
  --white: #ffffff;
  --default: #222222;
  --yellow: #FEE929;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  /* min-height: 100vh; */
  /* overflow-x: hidden; */
}

body {
  background-image: linear-gradient(to right, #9400D3 0%, #4B0082 25%, #0000FF 50%, #FF7F00 100%);
  background-size:400%;
  animation:beginani 15s infinite;
}

@keyframes beginani {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body.lock {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.container{
  max-width: 1320px;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.1;
  color: var(--white);
  font-weight: 400;
}
